<div class="container-fluid">
  Wind Speed: {{windSpeed}}<br />
  Wind Direction: {{windDirection}}<br />
  Rain: {{rain}}<br />
  Temperature: {{tempC}}<br />
  Dew Point: {{dewpoint}}<br />
  Relative Humidity: {{humidity}}<br />
  Pressure: {{airpressure}}
</div>
